<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Practitioner {@practitioner.id}
    <:subtitle>Use this form to manage practitioner records in your database.</:subtitle>
  </.header>

  <.practitioner_form changeset={@changeset} action={~p"/api/practitioners/#{@practitioner}"} return_to={~p"/api/practitioners"} />
</Layouts.app>
