<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Prescription {@prescription.id}
    <:subtitle>Use this form to manage prescription records in your database.</:subtitle>
  </.header>

  <.prescription_form changeset={@changeset} action={~p"/api/prescriptions/#{@prescription}"} return_to={~p"/api/prescriptions"} />
</Layouts.app>
